<table>
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="{{site.baseurl}}/housing">Housing</a></td>
        <td><a href="{{site.baseurl}}/food">Food</a></td>
        <td><a href="{{site.baseurl}}/sports">Sports</a></td>
        <td><a href="{{site.baseurl}}/activities">Activities</a></td>
        <td><a href="{{site.baseurl}}/family-night">Family-Night</a></td>
        <td><a href="{{site.baseurl}}/gallery">Gallery</a></td>
        <td><a href="{{site.baseurl}}/invite-list">Invite List</a></td>

    </tr>
</table>
